/** @format */
@font-face {
  font-family: "Raleway-Light";
  src: url("/fonts/Raleway-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #0a222a;
  margin: 0;
}
.img-logo {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
}
body {
  background-color: #071820;
}
.footer {
  width: 100%;
  height: 60px;
  display: flex;
  text-align: center;
  position: absolute;
  padding-left: 50px;
  bottom: 0px;
  background-color: #0a222a;
}
.footer-text {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
h1 {
  font-family: "Raleway-Light", sans-serif;
  display: flex;
  font-size: 50px;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

.fav-footer {
  width: 40px;
  height: 40px;
}
.footer {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}

.img-container img {
  width: 200px;
  margin-top: 100px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.footer img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
}
dialog {
  margin:auto;
  border: none;
  border-radius: 12px;
  padding: 20px;
  background-color: #0a222a;
}
dialog img {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
button img{
  display: flex;
  justify-items: end;
  width: 14px;
  height: 14px;
  border-radius: 1px;
  box-shadow: #071820;

}

.dialog-header{
  display: flex;
  justify-content: space-between;
  color: white;
  padding-bottom: 10px;
}


#dialog-caption{
  color: white;
}

.close-button{
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}
.close-button:hover{
  background-color: #de7d45;
  opacity: 0.3s;
  transition-duration: 0.5s;
  opacity: 10;
}
.preview-btn{
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;

}
.preview-btn:hover{
  background-color: #de7d45;
  opacity: 0.3s;
  transition-duration: 0.5s;
  opacity: 10;
}
.next-btn{

  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}
.next-btn:hover{
  background-color: #de7d45;
  opacity: 0.3s;
  transition-duration: 0.5s;
  opacity: 10;
}
